<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <title>APPsist</title>
  <meta name="description" content="APPsist">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="panel">
    <div class="info">Vielen Dank für Ihr Feedback!</div>
  </div>
</body>

</html>
