<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <title>APPsist</title>
  <meta name="description" content="APPsist">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <div class="header">
    Bewertung
  </div>
  <div class="panel">
    <div class="field">
      <div class="info">Ee liegt kein Benutzerfeedback vor.</div>
    </div>
  </div>
</body>

</html>
